<%- include('header'); -%>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <h1 class="h1-about">Here is a little bit about me</h1>
      <p class="text-about">I am a creator. I have not yet settled in a specific career path as I love
        learning news skills every day. After graduating from Concordia University in Montreal 3 years ago,
        I started my career as a Data and Business Analyst. However, due to
        the confinement, I have come to learn all the skills to be a Full Stack
        developer and a computer scientist. </p>
    </div>
    <div class="col-lg-4">
      <img class="profile-img" src="/images/panda.png" alt="real picture of me in Brussel">
    </div>
  </div>
</div>
<div class="col-lg-4">
<table>
  <tr>
    <thead>
      Details
    </thead>
  </tr>
  <tr>
    <th>Name:</th>
    <th>Laurence Adam</th>
  </tr>
  <tr>
    <th>Age:</th>
    <th>25 years old</th>
  </tr>
  <tr>
    <th>Gender:</th>
    <th>Female</th>
  </tr>
  <tr>
    <th>Location:</th>
    <th>Montreal, Quebec, Canada</th>
  </tr>
</table>
</div>

<%- include('footer'); -%>
