<section id="education">
  <h1 style='text-align:center'>My Education.</h1>
  <div class="education-box">
    <div class="row">
      <div class="col-lg-4">
        <h4>Udemy</h4>
        <p>Feb 2020 - Mai 2020</p>
      </div>
      <div class="col-lg-8">
        <div class="education-box">
          <h6>Python for Data Science and Machine Learning Bootcamp</h6>
          <p>
            <span class='space-format'>
              I learn how to use Python for Data Science and Machine Learning as well as Spark for Big Data Analysis.
            </span>
          </p>
          <h6>The Complete 2020 Web Development Bootcamp</h6>
          <p>
            <span class='space-format'>
              I learn how to build any website, master backend development with Node, frontend development with React, including Javascript ES6, Bootstrap 4, MongoDB, and professional developer best practices.
            </span>
          </p>
          <h6>The Complete SQL Bootcamp</h6>
          <p>
            <span class='space-format'>
              I learn how to use SQL to query a database and how to perform data analysis
            </span>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <h4>Concordia University</h4>
        <p>Sep 2013 - Mai 2018</p>
      </div>
      <div class="col-lg-8">
        <div class="education-box">
          <h6>Bachelor in Business Technology Management</h6>
          <p>
            <span class='space-format'>
              The education focused on Technology, business, process, project and change management.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
