<section id="experience">
  <h1 style='text-align:center'>My experience so far.</h1>
  <div class="education-box">
    <div class="row">
      <div class="col-lg-4">
        <h4>Air Canada</h4>
        <p>Sept 2019 - Mai 2020</p>
      </div>
      <div class="col-lg-8">
        <div class="education-box">
          <h6>Business Analyst</h6>
          <p>
            <span class='space-format'>
              Work independently to investigate the current trend of aviation and redemptions of members.
              Be the expert in data extraction using SQL, quality and understanding to answer various business needs.
              Use Python to run reports on Jupyter and run reports on MicroStrategy
              Build, with other team members, advanced statistical and mathematical models to increase the department understanding of current and future redemption performance.
              Build models and analyze current performance.
              Develop complex predictive and prescriptive analysis using large and varied sources of data.
              Use data visualization techniques to disseminate the discoveries to other departments in an interesting manner.
              Build forecasts, develop complex predictive and prescriptive analysis using various tools.
              Produce monthly/weekly/daily reports on key metrics.
            </span>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <h4>Deloitte</h4>
        <p>April 2019 - Aug 2019</p>
      </div>
    <div class="col-lg-8">
      <div class="education-box">
        <h6>Financial Analyst</h6>
        <p>
          <span class='space-format'>
            Provided insights to managers and partners about their financial responsibilities.
  Analyzed and implemented financial polices daily.
  Produced ad-hoc analysis to reduce the risks of getting a financial violation for employees.
  Communicated daily with employees.
  Presented weekly Deloitte policies to new hires.
          </span>
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <h4>Morneau Shepell</h4>
        <p>April 2018 - April 2019</p>
    </div>
  <div class="col-lg-8">
    <div class="education-box">
      <h6>Business Analyst</h6>
      <p>
        <span class='space-format'>

Evaluated 6 environments bimonthly to make sure the data provided was validated.
	Maintenance of existing applications and debug if any problem occurred.
	Generated more than 100 reports monthly concurrently responded to ad-hoc requests daily using Excel for reporting and analysis.
	Manipulated data using pivot tables, pivot charts, and Adobe.
	Connected with clients to gather requirements for ad-hoc and quarterly reports.
	Prioritized initiatives based on business needs and requirements
	Managed the team’s mailbox with an average of resolving 30 tickets per day.
	Ensured project documents are complete, current, and stored appropriately.
	Created, reviewed, and edited requirements, specifications, business processes and recommendations related to proposed solution
	Resolved data and analytical problems quickly and efficiently.

        </span>
      </p>
    </div>
  </div>

  <div class="col-lg-4">
    <h4>Immigration Refugee Citizenship Canada</h4>
      <p>Jan 2016 - April 2018</p>
  </div>
<div class="col-lg-8">
  <div class="education-box">
    <h6>Junior Analyst</h6>
    <p>
      <span class='space-format'>
        Organized and planed over 160 training events across Canada
        Analyzed upcoming trainings and events for the upcoming fiscal year.
        Interacted closely with managers and clients to present information and answered inquiries
        Supervised and assigned tasks to students

      </span>
    </p>
  </div>
</div>

</section>
