<!-- skills -->
<section id="skills">
  <h1>Here is what I can do.</h1>
  <div class="row">

    <div class="skills-box col-lg-4">
      <i class="fas fa-code skill-img"></i>
      <h2>Web Developer.</h2>
      <p>Full stack developer at your service.</p>
    </div>
    <div class="skills-box col-lg-4">
      <i class="fas fa-chart-bar skill-img"></i>
      <h2>Business Analyst.</h2>
      <p>Finding insights to make business decisions.</p>
    </div>
    <div class="skills-box col-lg-4">
      <i class="fas fa-laptop-code skill-img"></i>
      <h2>Computer Scientist.</h2>
      <p>Using machine learning to develop models.</p>
    </div>
  </div>
</section>
