<!-- title -->
<section id="title">
  <div class="container-fluid">
    <div class="title">
      <img class="avatar-img" src="/images/Avatar.png" alt="Profile picture in cartoon">
      <h1 class="">Hi, my name is Laurence Adam</h1>
      <p class="lead">Let me show you my resume.</p>
      <p class="lead">
        <a href="#skills" class="btn btn-lg btn-secondary">Ready?</a>
      </p>
    </div>
  </div>
</section>
